<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<section class="checkout spad">
        <div class="container">
        	<div class="row" style="margin-bottom: 40px;">
        		<table class="table">
        			<tr>
        				<th width=30% class="text-center"></th>
        				<th width=50% class="text-center">이름</th>
        				<th width=20% class="text-center"></th>
        			</tr>
        			<tr>
        				<td width=30% class="text-center" style="vertical-align: middle;">
        					<img th:src="${vo.image}" style="width: 80%">
        				</td>
        				<td width=50% th:text="${vo.name}" style="vertical-align: middle;"></td>
        				<td width=20% class="text-center"></td>
        			</tr>
        		</table>
        	</div>
        	
            <div class="checkout__form">
                <h4>주문자 정보</h4>
                <form action="#">
                    <div class="row">
                        <div class="col-lg-8 col-md-6">
                            <div class="checkout__input">
                                <p>예약자 이름<span>*</span></p>
                                <input type="text">
                            </div>
                            <div class="checkout__input">
                                <p>예약일<span>*</span></p>
                                <input type="text" placeholder="20XX-XX-XX ~ 20XX-XX-XX">
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="checkout__input">
                                        <p>휴대폰 번호<span>*</span></p>
                                        <input type="text" placeholder="010-XXXX-XXXX">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="checkout__input">
                                        <p>이메일<span>*</span></p>
                                        <input type="text" placeholder="ID@naver.com">
                                    </div>
                                </div>
                            </div>
                            <div class="checkout__input">
                                <p>비밀번호<span>*</span></p>
                                <input type="text" placeholder="작성하신 비밀번호로 예약 확인을 할 수 있습니다.">
                            </div>
                            <div class="checkout__input">
                                <p>그 외 문의사항</p>
                                <input type="text" placeholder="문의사항이 있다면 적어주세요.">
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="checkout__order">
                                <h4>주문 정보</h4>
                                <ul>
                                    <li th:text="${vo.name}"> <span>$75.99</span></li>
                                </ul>
                                <div class="checkout__order__subtotal">Subtotal <span>$750.99</span></div>
                                <div class="checkout__order__total">Total <span>$750.99</span></div>
                                <div class="checkout__input__checkbox">
                                </div>
                                <button type="submit" class="site-btn">예약하기</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
    <!-- Checkout Section End -->
</body>
</html>