<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style type="text/css">
	.blog__details__text p {
		padding: 0px 50px 0px 50px;
	}
</style>
</head>
<body>

    <!-- Blog Details Section Begin -->
    <section class="blog-details spad">
        <div class="container">
            <div class="row">
            
                <div class="col-lg-12">
                    <div class="blog__details__text">
                    
						<div class="text-center inline" style="margin-bottom: 30px;">
							<img th:src="${vo.image}" style="width: 70%">            	
						</div>
             
                        <hr>
                        <h3 style="padding-left: 20px;" th:text="${vo.name}"></h3>
                        <p><i class="fa-solid fa-location-dot fa-xs"></i>&nbsp;&nbsp;<span th:text="${vo.address}"></span></p>
                        <p><i class="fa-solid fa-phone fa-xs" style="inline"></i>&nbsp;&nbsp;<span th:text="${vo.phone}"></span></p>
                        <hr>
                        <pre><p th:text="${vo.msg}" style="line-height: 20px; padding-top: 20px;"></p></pre>
                   		
                    </div>
                    
                    <div class="text-right">
                    	<a th:href="@{/camp/camp_reserve(cno=${vo.cno})}" class="primary-btn btn-lg">예약하기</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Blog Details Section End -->

    <!-- Related Blog Section Begin -->
    <section class="related-blog spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title related-blog-title">
                        <h2>최근 본 캠핑장</h2>
                    </div>
                </div>
            </div>
            
            <!-- 쿠키 -->
            <div class="row">
            
                <div class="col-lg-2 col-md-2 col-sm-4" v-fot="cvo in cookie_list">
                    <div class="blog__item">
                        <div class="blog__item__pic">
                            <img :src="cvo.image.split('^')[0]">
                        </div>
                        <div class="blog__item__text">
                            <h5><a th:href="@{/camp/camp_detail(cno=${vo.cno})}">{{cvo.name}}</a></h5>
                            <p>{{cvo.address}}</p>
                        </div>
                    </div>
                </div>

            </div>
            
        </div>
    </section>

<script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
<script src="https://unpkg.com/babel-polyfill@latest/dist/polyfill.min.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=961b2dbce44d1035a55d49e54f0fd53f&libraries=services"></script>
<script>
	new Vue({
		el:'.blog-details',
		data:{
			cookie_list:[]
		},
		mounted:function(){
			axios.get('../camp/camp_cookie.do').then(res=>{
				console.log(res.data)
				this.cookie_list = res.data;
			}).catch(error=>{
				console.log(error.response)
			})
			
		}
	})
</script>

</body>
</html>