<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sist.mapper.location-mapper">
	<!-- sql 문장 반복 제거할 때 사용 → 조인이나 서브쿼리 -->
	<sql id="select-sql">
		SELECT no, title, address, msg FROM seoul_location
	</sql>

	<select id="locationListData" resultType="LocationVO">
		SELECT no, title, address, msg, rownum
		FROM (SELECT no, title, address, msg FROM seoul_location ORDER BY no ASC)
		WHERE rownum&lt;=10
	</select>
	
	<select id="locationDetailData" resultType="LocationVO" parameterType="int">
		<include refid="select-sql"/>
		WHERE no=#{no}
	</select>
</mapper>