<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script type="text/javascript" src="http://code.jquery.com/jquery.js"></script>
<style type="text/css">
	.row {
		margin: 0px auto;
	}
</style>
<script>
 $(function() {
    $("#cancleBtn").click(function() {
	    
    	alert("정말로 취소하시겠습니까?")
    	
    	Swal.fire({
	        title: '완료',
	        text: '예약이 성공적으로 취소되었습니다!',
	        icon: 'success'
	    })

    });
});
</script>
</head>
<body>
	<div class="container" style="margin-top: 100px;">
		<div class="row">
			<div class="col-lg-12">
	            <div class="section-title from-blog__title">
	                <h2>예약 취소</h2>
	            </div>
	        </div>
		</div>
		
		<div class="row" style="margin-bottom: 150px;">
			<form class="col-lg-4" method="post" action="/reserve/reserve_delete_ok" style="margin:0px auto">
                <div class="checkout__input">
                    <p>예약할 때 입력했던 비밀번호를 입력해주세요.</p>
                    <input type="password" name=password>
                </div>
                
                <div class="text-center">
                	<button id="cancleBtn" class="primary-btn btn-lg" style="border: none;">예약 취소</button>
                	<input type=button class="primary-btn btn-lg" value="취소" style="background-color: #6F6F6F; border: none;" onclick="javascript:history.back()">
                	<input type=hidden name=rno th:value="${rno}">
                </div>
			</form>
		</div>
	</div>
</body>
</html>